=begin
#Fireblocks API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.5.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.3.0

=end

require 'cgi'

module OpenapiClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Estimates the required fee for a given asset. For UTXO based assets, the response will contain the suggested fee per byte, for ETH/ETC based assets, the suggested gas price, and for XRP/XLM, the transaction fee
    # @param asset_id [String] The asset for which to estimate the fee
    # @param [Hash] opts the optional parameters
    # @return [EstimatedNetworkFeeResponse]
    def estimate_network_fee_get(asset_id, opts = {})
      data, _status_code, _headers = estimate_network_fee_get_with_http_info(asset_id, opts)
      data
    end

    # Estimates the required fee for a given asset. For UTXO based assets, the response will contain the suggested fee per byte, for ETH/ETC based assets, the suggested gas price, and for XRP/XLM, the transaction fee
    # @param asset_id [String] The asset for which to estimate the fee
    # @param [Hash] opts the optional parameters
    # @return [Array<(EstimatedNetworkFeeResponse, Integer, Hash)>] EstimatedNetworkFeeResponse data, response status code and response headers
    def estimate_network_fee_get_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.estimate_network_fee_get ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.estimate_network_fee_get"
      end
      # resource path
      local_var_path = '/estimate_network_fee'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assetId'] = asset_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EstimatedNetworkFeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.estimate_network_fee_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#estimate_network_fee_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a single asset within an exchange account
    # @param exchange_account_id [String] The ID of the exchange account to return
    # @param asset_id [String] The ID of the asset to return
    # @param [Hash] opts the optional parameters
    # @return [ExchangeAsset]
    def exchange_accounts_exchange_account_id_asset_id_get(exchange_account_id, asset_id, opts = {})
      data, _status_code, _headers = exchange_accounts_exchange_account_id_asset_id_get_with_http_info(exchange_account_id, asset_id, opts)
      data
    end

    # Returns a single asset within an exchange account
    # @param exchange_account_id [String] The ID of the exchange account to return
    # @param asset_id [String] The ID of the asset to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExchangeAsset, Integer, Hash)>] ExchangeAsset data, response status code and response headers
    def exchange_accounts_exchange_account_id_asset_id_get_with_http_info(exchange_account_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.exchange_accounts_exchange_account_id_asset_id_get ...'
      end
      # verify the required parameter 'exchange_account_id' is set
      if @api_client.config.client_side_validation && exchange_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'exchange_account_id' when calling DefaultApi.exchange_accounts_exchange_account_id_asset_id_get"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.exchange_accounts_exchange_account_id_asset_id_get"
      end
      # resource path
      local_var_path = '/exchange_accounts/{exchangeAccountId}/{assetId}'.sub('{' + 'exchangeAccountId' + '}', CGI.escape(exchange_account_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.exchange_accounts_exchange_account_id_asset_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#exchange_accounts_exchange_account_id_asset_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an exchange account by ID
    # @param exchange_account_id [String] The ID of the exchange account to return
    # @param [Hash] opts the optional parameters
    # @return [ExchangeAccount]
    def exchange_accounts_exchange_account_id_get(exchange_account_id, opts = {})
      data, _status_code, _headers = exchange_accounts_exchange_account_id_get_with_http_info(exchange_account_id, opts)
      data
    end

    # Returns an exchange account by ID
    # @param exchange_account_id [String] The ID of the exchange account to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExchangeAccount, Integer, Hash)>] ExchangeAccount data, response status code and response headers
    def exchange_accounts_exchange_account_id_get_with_http_info(exchange_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.exchange_accounts_exchange_account_id_get ...'
      end
      # verify the required parameter 'exchange_account_id' is set
      if @api_client.config.client_side_validation && exchange_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'exchange_account_id' when calling DefaultApi.exchange_accounts_exchange_account_id_get"
      end
      # resource path
      local_var_path = '/exchange_accounts/{exchangeAccountId}'.sub('{' + 'exchangeAccountId' + '}', CGI.escape(exchange_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExchangeAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.exchange_accounts_exchange_account_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#exchange_accounts_exchange_account_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Transfers funds between trading accounts under the same exchange account
    # @param exchange_account_id [String] The ID of the exchange account to return
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [nil]
    def exchange_accounts_exchange_account_id_internal_transfer_post(exchange_account_id, opts = {})
      exchange_accounts_exchange_account_id_internal_transfer_post_with_http_info(exchange_account_id, opts)
      nil
    end

    # Transfers funds between trading accounts under the same exchange account
    # @param exchange_account_id [String] The ID of the exchange account to return
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def exchange_accounts_exchange_account_id_internal_transfer_post_with_http_info(exchange_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.exchange_accounts_exchange_account_id_internal_transfer_post ...'
      end
      # verify the required parameter 'exchange_account_id' is set
      if @api_client.config.client_side_validation && exchange_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'exchange_account_id' when calling DefaultApi.exchange_accounts_exchange_account_id_internal_transfer_post"
      end
      # resource path
      local_var_path = '/exchange_accounts/{exchangeAccountId}/internal_transfer'.sub('{' + 'exchangeAccountId' + '}', CGI.escape(exchange_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.exchange_accounts_exchange_account_id_internal_transfer_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#exchange_accounts_exchange_account_id_internal_transfer_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all exchange accounts
    # @param [Hash] opts the optional parameters
    # @return [Array<ExchangeAccount>]
    def exchange_accounts_get(opts = {})
      data, _status_code, _headers = exchange_accounts_get_with_http_info(opts)
      data
    end

    # Returns all exchange accounts
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ExchangeAccount>, Integer, Hash)>] Array<ExchangeAccount> data, response status code and response headers
    def exchange_accounts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.exchange_accounts_get ...'
      end
      # resource path
      local_var_path = '/exchange_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ExchangeAccount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.exchange_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#exchange_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of external wallets under the tenant
    # @param [Hash] opts the optional parameters
    # @return [Array<UnmanagedWallet>]
    def external_wallets_get(opts = {})
      data, _status_code, _headers = external_wallets_get_with_http_info(opts)
      data
    end

    # Gets a list of external wallets under the tenant
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UnmanagedWallet>, Integer, Hash)>] Array<UnmanagedWallet> data, response status code and response headers
    def external_wallets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_get ...'
      end
      # resource path
      local_var_path = '/external_wallets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UnmanagedWallet>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new external wallet
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [UnmanagedWallet]
    def external_wallets_post(opts = {})
      data, _status_code, _headers = external_wallets_post_with_http_info(opts)
      data
    end

    # Creates a new external wallet
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(UnmanagedWallet, Integer, Hash)>] UnmanagedWallet data, response status code and response headers
    def external_wallets_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_post ...'
      end
      # resource path
      local_var_path = '/external_wallets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type] || 'UnmanagedWallet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an external wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def external_wallets_wallet_id_asset_id_delete(wallet_id, asset_id, opts = {})
      external_wallets_wallet_id_asset_id_delete_with_http_info(wallet_id, asset_id, opts)
      nil
    end

    # Deletes an external wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def external_wallets_wallet_id_asset_id_delete_with_http_info(wallet_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_wallet_id_asset_id_delete ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.external_wallets_wallet_id_asset_id_delete"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.external_wallets_wallet_id_asset_id_delete"
      end
      # resource path
      local_var_path = '/external_wallets/{walletId}/{assetId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_wallet_id_asset_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_wallet_id_asset_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an external wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to return
    # @param [Hash] opts the optional parameters
    # @return [ExternalWalletAsset]
    def external_wallets_wallet_id_asset_id_get(wallet_id, asset_id, opts = {})
      data, _status_code, _headers = external_wallets_wallet_id_asset_id_get_with_http_info(wallet_id, asset_id, opts)
      data
    end

    # Returns an external wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExternalWalletAsset, Integer, Hash)>] ExternalWalletAsset data, response status code and response headers
    def external_wallets_wallet_id_asset_id_get_with_http_info(wallet_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_wallet_id_asset_id_get ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.external_wallets_wallet_id_asset_id_get"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.external_wallets_wallet_id_asset_id_get"
      end
      # resource path
      local_var_path = '/external_wallets/{walletId}/{assetId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ExternalWalletAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_wallet_id_asset_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_wallet_id_asset_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Adds an asset to an existing external wallet
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to add
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [ExternalWalletAsset]
    def external_wallets_wallet_id_asset_id_post(wallet_id, asset_id, opts = {})
      data, _status_code, _headers = external_wallets_wallet_id_asset_id_post_with_http_info(wallet_id, asset_id, opts)
      data
    end

    # Adds an asset to an existing external wallet
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to add
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(ExternalWalletAsset, Integer, Hash)>] ExternalWalletAsset data, response status code and response headers
    def external_wallets_wallet_id_asset_id_post_with_http_info(wallet_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_wallet_id_asset_id_post ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.external_wallets_wallet_id_asset_id_post"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.external_wallets_wallet_id_asset_id_post"
      end
      # resource path
      local_var_path = '/external_wallets/{walletId}/{assetId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type] || 'ExternalWalletAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_wallet_id_asset_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_wallet_id_asset_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an external wallet by ID
    # @param wallet_id [String] The ID of the wallet to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def external_wallets_wallet_id_delete(wallet_id, opts = {})
      external_wallets_wallet_id_delete_with_http_info(wallet_id, opts)
      nil
    end

    # Deletes an external wallet by ID
    # @param wallet_id [String] The ID of the wallet to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def external_wallets_wallet_id_delete_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_wallet_id_delete ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.external_wallets_wallet_id_delete"
      end
      # resource path
      local_var_path = '/external_wallets/{walletId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_wallet_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_wallet_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an external wallet by ID
    # @param wallet_id [String] The ID of the wallet to return
    # @param [Hash] opts the optional parameters
    # @return [UnmanagedWallet]
    def external_wallets_wallet_id_get(wallet_id, opts = {})
      data, _status_code, _headers = external_wallets_wallet_id_get_with_http_info(wallet_id, opts)
      data
    end

    # Returns an external wallet by ID
    # @param wallet_id [String] The ID of the wallet to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnmanagedWallet, Integer, Hash)>] UnmanagedWallet data, response status code and response headers
    def external_wallets_wallet_id_get_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_wallet_id_get ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.external_wallets_wallet_id_get"
      end
      # resource path
      local_var_path = '/external_wallets/{walletId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnmanagedWallet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_wallet_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_wallet_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets a reference customer ID for AML
    # @param wallet_id [String] The wallet ID
    # @param unknown_base_type [UNKNOWN_BASE_TYPE] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def external_wallets_wallet_id_set_customer_ref_id_post(wallet_id, unknown_base_type, opts = {})
      external_wallets_wallet_id_set_customer_ref_id_post_with_http_info(wallet_id, unknown_base_type, opts)
      nil
    end

    # Sets a reference customer ID for AML
    # @param wallet_id [String] The wallet ID
    # @param unknown_base_type [UNKNOWN_BASE_TYPE] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def external_wallets_wallet_id_set_customer_ref_id_post_with_http_info(wallet_id, unknown_base_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.external_wallets_wallet_id_set_customer_ref_id_post ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.external_wallets_wallet_id_set_customer_ref_id_post"
      end
      # resource path
      local_var_path = '/external_wallets/{walletId}/set_customer_ref_id'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unknown_base_type)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.external_wallets_wallet_id_set_customer_ref_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#external_wallets_wallet_id_set_customer_ref_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deposit funds from DDA
    # @param account_id [String] The ID of the fiat account to use
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [nil]
    def fiat_accounts_account_id_deposit_from_linked_dda_post(account_id, opts = {})
      fiat_accounts_account_id_deposit_from_linked_dda_post_with_http_info(account_id, opts)
      nil
    end

    # Deposit funds from DDA
    # @param account_id [String] The ID of the fiat account to use
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def fiat_accounts_account_id_deposit_from_linked_dda_post_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.fiat_accounts_account_id_deposit_from_linked_dda_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DefaultApi.fiat_accounts_account_id_deposit_from_linked_dda_post"
      end
      # resource path
      local_var_path = '/fiat_accounts/{accountId}/deposit_from_linked_dda'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.fiat_accounts_account_id_deposit_from_linked_dda_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#fiat_accounts_account_id_deposit_from_linked_dda_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a fiat account by ID
    # @param account_id [String] The ID of the fiat account to return
    # @param [Hash] opts the optional parameters
    # @return [FiatAccount]
    def fiat_accounts_account_id_get(account_id, opts = {})
      data, _status_code, _headers = fiat_accounts_account_id_get_with_http_info(account_id, opts)
      data
    end

    # Returns a fiat account by ID
    # @param account_id [String] The ID of the fiat account to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(FiatAccount, Integer, Hash)>] FiatAccount data, response status code and response headers
    def fiat_accounts_account_id_get_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.fiat_accounts_account_id_get ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DefaultApi.fiat_accounts_account_id_get"
      end
      # resource path
      local_var_path = '/fiat_accounts/{accountId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FiatAccount'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.fiat_accounts_account_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#fiat_accounts_account_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redeem funds to DDA
    # @param account_id [String] The ID of the fiat account to use
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [nil]
    def fiat_accounts_account_id_redeem_to_linked_dda_post(account_id, opts = {})
      fiat_accounts_account_id_redeem_to_linked_dda_post_with_http_info(account_id, opts)
      nil
    end

    # Redeem funds to DDA
    # @param account_id [String] The ID of the fiat account to use
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def fiat_accounts_account_id_redeem_to_linked_dda_post_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.fiat_accounts_account_id_redeem_to_linked_dda_post ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DefaultApi.fiat_accounts_account_id_redeem_to_linked_dda_post"
      end
      # resource path
      local_var_path = '/fiat_accounts/{accountId}/redeem_to_linked_dda'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.fiat_accounts_account_id_redeem_to_linked_dda_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#fiat_accounts_account_id_redeem_to_linked_dda_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all fiat accounts
    # @param [Hash] opts the optional parameters
    # @return [Array<FiatAccount>]
    def fiat_accounts_get(opts = {})
      data, _status_code, _headers = fiat_accounts_get_with_http_info(opts)
      data
    end

    # Returns all fiat accounts
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<FiatAccount>, Integer, Hash)>] Array<FiatAccount> data, response status code and response headers
    def fiat_accounts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.fiat_accounts_get ...'
      end
      # resource path
      local_var_path = '/fiat_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FiatAccount>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.fiat_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#fiat_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets Gas Station configuration
    # @param gas_station_configuration [GasStationConfiguration] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def gas_station_configuration_put(gas_station_configuration, opts = {})
      gas_station_configuration_put_with_http_info(gas_station_configuration, opts)
      nil
    end

    # Sets Gas Station configuration
    # @param gas_station_configuration [GasStationConfiguration] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def gas_station_configuration_put_with_http_info(gas_station_configuration, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.gas_station_configuration_put ...'
      end
      # verify the required parameter 'gas_station_configuration' is set
      if @api_client.config.client_side_validation && gas_station_configuration.nil?
        fail ArgumentError, "Missing the required parameter 'gas_station_configuration' when calling DefaultApi.gas_station_configuration_put"
      end
      # resource path
      local_var_path = '/gas_station/configuration'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(gas_station_configuration)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.gas_station_configuration_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#gas_station_configuration_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a summary of Gas Station configuration and balances
    # @param [Hash] opts the optional parameters
    # @return [GasStationPropertiesResponse]
    def gas_station_get(opts = {})
      data, _status_code, _headers = gas_station_get_with_http_info(opts)
      data
    end

    # Returns a summary of Gas Station configuration and balances
    # @param [Hash] opts the optional parameters
    # @return [Array<(GasStationPropertiesResponse, Integer, Hash)>] GasStationPropertiesResponse data, response status code and response headers
    def gas_station_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.gas_station_get ...'
      end
      # resource path
      local_var_path = '/gas_station'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GasStationPropertiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.gas_station_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#gas_station_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of internal wallets
    # @param [Hash] opts the optional parameters
    # @return [Array<UnmanagedWallet>]
    def internal_wallets_get(opts = {})
      data, _status_code, _headers = internal_wallets_get_with_http_info(opts)
      data
    end

    # Gets a list of internal wallets
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UnmanagedWallet>, Integer, Hash)>] Array<UnmanagedWallet> data, response status code and response headers
    def internal_wallets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_get ...'
      end
      # resource path
      local_var_path = '/internal_wallets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UnmanagedWallet>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a new internal wallet
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [UnmanagedWallet]
    def internal_wallets_post(opts = {})
      data, _status_code, _headers = internal_wallets_post_with_http_info(opts)
      data
    end

    # Creates a new internal wallet
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(UnmanagedWallet, Integer, Hash)>] UnmanagedWallet data, response status code and response headers
    def internal_wallets_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_post ...'
      end
      # resource path
      local_var_path = '/internal_wallets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type] || 'UnmanagedWallet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an internal wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_wallets_wallet_id_asset_id_delete(wallet_id, asset_id, opts = {})
      internal_wallets_wallet_id_asset_id_delete_with_http_info(wallet_id, asset_id, opts)
      nil
    end

    # Deletes an internal wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_wallets_wallet_id_asset_id_delete_with_http_info(wallet_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_wallet_id_asset_id_delete ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.internal_wallets_wallet_id_asset_id_delete"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.internal_wallets_wallet_id_asset_id_delete"
      end
      # resource path
      local_var_path = '/internal_wallets/{walletId}/{assetId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_wallet_id_asset_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_wallet_id_asset_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an internal wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to return
    # @param [Hash] opts the optional parameters
    # @return [WalletAsset]
    def internal_wallets_wallet_id_asset_id_get(wallet_id, asset_id, opts = {})
      data, _status_code, _headers = internal_wallets_wallet_id_asset_id_get_with_http_info(wallet_id, asset_id, opts)
      data
    end

    # Returns an internal wallet asset by ID
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(WalletAsset, Integer, Hash)>] WalletAsset data, response status code and response headers
    def internal_wallets_wallet_id_asset_id_get_with_http_info(wallet_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_wallet_id_asset_id_get ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.internal_wallets_wallet_id_asset_id_get"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.internal_wallets_wallet_id_asset_id_get"
      end
      # resource path
      local_var_path = '/internal_wallets/{walletId}/{assetId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WalletAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_wallet_id_asset_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_wallet_id_asset_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create asset to an existing internal wallet
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to add
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [WalletAsset]
    def internal_wallets_wallet_id_asset_id_post(wallet_id, asset_id, opts = {})
      data, _status_code, _headers = internal_wallets_wallet_id_asset_id_post_with_http_info(wallet_id, asset_id, opts)
      data
    end

    # Create asset to an existing internal wallet
    # @param wallet_id [String] The ID of the wallet
    # @param asset_id [String] The ID of the asset to add
    # @param [Hash] opts the optional parameters
    # @option opts [UNKNOWN_BASE_TYPE] :unknown_base_type 
    # @return [Array<(WalletAsset, Integer, Hash)>] WalletAsset data, response status code and response headers
    def internal_wallets_wallet_id_asset_id_post_with_http_info(wallet_id, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_wallet_id_asset_id_post ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.internal_wallets_wallet_id_asset_id_post"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling DefaultApi.internal_wallets_wallet_id_asset_id_post"
      end
      # resource path
      local_var_path = '/internal_wallets/{walletId}/{assetId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s)).sub('{' + 'assetId' + '}', CGI.escape(asset_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'unknown_base_type'])

      # return_type
      return_type = opts[:debug_return_type] || 'WalletAsset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_wallet_id_asset_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_wallet_id_asset_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes an internal wallet by ID
    # @param wallet_id [String] The ID of the wallet to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_wallets_wallet_id_delete(wallet_id, opts = {})
      internal_wallets_wallet_id_delete_with_http_info(wallet_id, opts)
      nil
    end

    # Deletes an internal wallet by ID
    # @param wallet_id [String] The ID of the wallet to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_wallets_wallet_id_delete_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_wallet_id_delete ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.internal_wallets_wallet_id_delete"
      end
      # resource path
      local_var_path = '/internal_wallets/{walletId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_wallet_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_wallet_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns an internal wallet by ID
    # @param wallet_id [String] The ID of the wallet to return
    # @param [Hash] opts the optional parameters
    # @return [UnmanagedWallet]
    def internal_wallets_wallet_id_get(wallet_id, opts = {})
      data, _status_code, _headers = internal_wallets_wallet_id_get_with_http_info(wallet_id, opts)
      data
    end

    # Returns an internal wallet by ID
    # @param wallet_id [String] The ID of the wallet to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnmanagedWallet, Integer, Hash)>] UnmanagedWallet data, response status code and response headers
    def internal_wallets_wallet_id_get_with_http_info(wallet_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_wallet_id_get ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.internal_wallets_wallet_id_get"
      end
      # resource path
      local_var_path = '/internal_wallets/{walletId}'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnmanagedWallet'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_wallet_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_wallet_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sets a reference customer ID for AML
    # @param wallet_id [String] The wallet ID
    # @param unknown_base_type [UNKNOWN_BASE_TYPE] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_wallets_wallet_id_set_customer_ref_id_post(wallet_id, unknown_base_type, opts = {})
      internal_wallets_wallet_id_set_customer_ref_id_post_with_http_info(wallet_id, unknown_base_type, opts)
      nil
    end

    # Sets a reference customer ID for AML
    # @param wallet_id [String] The wallet ID
    # @param unknown_base_type [UNKNOWN_BASE_TYPE] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_wallets_wallet_id_set_customer_ref_id_post_with_http_info(wallet_id, unknown_base_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.internal_wallets_wallet_id_set_customer_ref_id_post ...'
      end
      # verify the required parameter 'wallet_id' is set
      if @api_client.config.client_side_validation && wallet_id.nil?
        fail ArgumentError, "Missing the required parameter 'wallet_id' when calling DefaultApi.internal_wallets_wallet_id_set_customer_ref_id_post"
      end
      # resource path
      local_var_path = '/internal_wallets/{walletId}/set_customer_ref_id'.sub('{' + 'walletId' + '}', CGI.escape(wallet_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unknown_base_type)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.internal_wallets_wallet_id_set_customer_ref_id_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#internal_wallets_wallet_id_set_customer_ref_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a network connection by ID
    # @param connection_id [String] The ID of the connection
    # @param [Hash] opts the optional parameters
    # @return [NetworkConnectionResponse]
    def network_connections_connection_id_get(connection_id, opts = {})
      data, _status_code, _headers = network_connections_connection_id_get_with_http_info(connection_id, opts)
      data
    end

    # Gets a network connection by ID
    # @param connection_id [String] The ID of the connection
    # @param [Hash] opts the optional parameters
    # @return [Array<(NetworkConnectionResponse, Integer, Hash)>] NetworkConnectionResponse data, response status code and response headers
    def network_connections_connection_id_get_with_http_info(connection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connections_connection_id_get ...'
      end
      # verify the required parameter 'connection_id' is set
      if @api_client.config.client_side_validation && connection_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_id' when calling DefaultApi.network_connections_connection_id_get"
      end
      # resource path
      local_var_path = '/network_connections/{connectionId}'.sub('{' + 'connectionId' + '}', CGI.escape(connection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NetworkConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.network_connections_connection_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connections_connection_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all network connections
    # @param [Hash] opts the optional parameters
    # @return [Array<NetworkConnectionResponse>]
    def network_connections_get(opts = {})
      data, _status_code, _headers = network_connections_get_with_http_info(opts)
      data
    end

    # Returns all network connections
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<NetworkConnectionResponse>, Integer, Hash)>] Array<NetworkConnectionResponse> data, response status code and response headers
    def network_connections_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.network_connections_get ...'
      end
      # resource path
      local_var_path = '/network_connections'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<NetworkConnectionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.network_connections_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#network_connections_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get off exchanges
    # @param [Hash] opts the optional parameters
    # @return [Array<OffExchangeEntityResponse>]
    def off_exchange_accounts_get(opts = {})
      data, _status_code, _headers = off_exchange_accounts_get_with_http_info(opts)
      data
    end

    # Get off exchanges
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OffExchangeEntityResponse>, Integer, Hash)>] Array<OffExchangeEntityResponse> data, response status code and response headers
    def off_exchange_accounts_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.off_exchange_accounts_get ...'
      end
      # resource path
      local_var_path = '/off_exchange_accounts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OffExchangeEntityResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.off_exchange_accounts_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#off_exchange_accounts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get off exchange by it's ID
    # @param virtual_account_id [String] The ID of the off exchange entity
    # @param [Hash] opts the optional parameters
    # @return [OffExchangeEntityResponse]
    def off_exchange_accounts_virtual_account_id_get(virtual_account_id, opts = {})
      data, _status_code, _headers = off_exchange_accounts_virtual_account_id_get_with_http_info(virtual_account_id, opts)
      data
    end

    # Get off exchange by it&#39;s ID
    # @param virtual_account_id [String] The ID of the off exchange entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(OffExchangeEntityResponse, Integer, Hash)>] OffExchangeEntityResponse data, response status code and response headers
    def off_exchange_accounts_virtual_account_id_get_with_http_info(virtual_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.off_exchange_accounts_virtual_account_id_get ...'
      end
      # verify the required parameter 'virtual_account_id' is set
      if @api_client.config.client_side_validation && virtual_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_account_id' when calling DefaultApi.off_exchange_accounts_virtual_account_id_get"
      end
      # resource path
      local_var_path = '/off_exchange_accounts/{virtualAccountId}'.sub('{' + 'virtualAccountId' + '}', CGI.escape(virtual_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OffExchangeEntityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.off_exchange_accounts_virtual_account_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#off_exchange_accounts_virtual_account_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Settle an off exchange entity
    # @param virtual_account_id [String] The ID of the off exchange entity
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def off_exchange_accounts_virtual_account_id_settle_post(virtual_account_id, opts = {})
      off_exchange_accounts_virtual_account_id_settle_post_with_http_info(virtual_account_id, opts)
      nil
    end

    # Settle an off exchange entity
    # @param virtual_account_id [String] The ID of the off exchange entity
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def off_exchange_accounts_virtual_account_id_settle_post_with_http_info(virtual_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.off_exchange_accounts_virtual_account_id_settle_post ...'
      end
      # verify the required parameter 'virtual_account_id' is set
      if @api_client.config.client_side_validation && virtual_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'virtual_account_id' when calling DefaultApi.off_exchange_accounts_virtual_account_id_settle_post"
      end
      # resource path
      local_var_path = '/off_exchange_accounts/{virtualAccountId}/settle'.sub('{' + 'virtualAccountId' + '}', CGI.escape(virtual_account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.off_exchange_accounts_virtual_account_id_settle_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#off_exchange_accounts_virtual_account_id_settle_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns all asset types supported by Fireblocks
    # @param [Hash] opts the optional parameters
    # @return [Array<AssetTypeResponse>]
    def supported_assets_get(opts = {})
      data, _status_code, _headers = supported_assets_get_with_http_info(opts)
      data
    end

    # Returns all asset types supported by Fireblocks
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AssetTypeResponse>, Integer, Hash)>] Array<AssetTypeResponse> data, response status code and response headers
    def supported_assets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.supported_assets_get ...'
      end
      # resource path
      local_var_path = '/supported_assets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AssetTypeResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.supported_assets_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#supported_assets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Estimates the transaction fee for a given transaction request
    # @param [Hash] opts the optional parameters
    # @option opts [TransactionRequest] :transaction_request 
    # @return [EstimatedTransactionFeeResponse]
    def transactions_estimate_fee_post(opts = {})
      data, _status_code, _headers = transactions_estimate_fee_post_with_http_info(opts)
      data
    end

    # Estimates the transaction fee for a given transaction request
    # @param [Hash] opts the optional parameters
    # @option opts [TransactionRequest] :transaction_request 
    # @return [Array<(EstimatedTransactionFeeResponse, Integer, Hash)>] EstimatedTransactionFeeResponse data, response status code and response headers
    def transactions_estimate_fee_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transactions_estimate_fee_post ...'
      end
      # resource path
      local_var_path = '/transactions/estimate_fee'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'transaction_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'EstimatedTransactionFeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.transactions_estimate_fee_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transactions_estimate_fee_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns transaction by external transaction ID
    # @param external_tx_id [String] The external ID of the transaction to return
    # @param [Hash] opts the optional parameters
    # @return [TransactionResponse]
    def transactions_external_tx_id_external_tx_id_get(external_tx_id, opts = {})
      data, _status_code, _headers = transactions_external_tx_id_external_tx_id_get_with_http_info(external_tx_id, opts)
      data
    end

    # Returns transaction by external transaction ID
    # @param external_tx_id [String] The external ID of the transaction to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionResponse, Integer, Hash)>] TransactionResponse data, response status code and response headers
    def transactions_external_tx_id_external_tx_id_get_with_http_info(external_tx_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transactions_external_tx_id_external_tx_id_get ...'
      end
      # verify the required parameter 'external_tx_id' is set
      if @api_client.config.client_side_validation && external_tx_id.nil?
        fail ArgumentError, "Missing the required parameter 'external_tx_id' when calling DefaultApi.transactions_external_tx_id_external_tx_id_get"
      end
      # resource path
      local_var_path = '/transactions/external_tx_id/{externalTxId}/'.sub('{' + 'externalTxId' + '}', CGI.escape(external_tx_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.transactions_external_tx_id_external_tx_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#transactions_external_tx_id_external_tx_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets a list of transactions under the tenant
    # @param [Hash] opts the optional parameters
    # @option opts [String] :before Unix timestamp in milliseconds. Returns only transactions created before the specified date
    # @option opts [String] :after Unix timestamp in milliseconds. Returns only transactions created after the specified date
    # @option opts [String] :status Comma-separated list of statuses. Returns only transactions with one of the specified statuses
    # @option opts [String] :order_by The field to order the results by
    # @option opts [Integer] :limit Limits the number of results. If not provided, a limit of 200 will be used. The maximum allowed limit is 500 (default to 200)
    # @option opts [String] :source_type The source type of the transaction
    # @option opts [String] :source_id The source ID of the transaction
    # @option opts [String] :dest_type The destination type of the transaction
    # @option opts [String] :dest_id The destination ID of the transaction
    # @option opts [String] :assets A list of assets to filter by, seperated by commas
    # @option opts [String] :tx_hash Returns only results with a specified txHash
    # @return [Array<TransactionResponse>]
    def transactions_get(opts = {})
      data, _status_code, _headers = transactions_get_with_http_info(opts)
      data
    end

    # Gets a list of transactions under the tenant
    # @param [Hash] opts the optional parameters
    # @option opts [String] :before Unix timestamp in milliseconds. Returns only transactions created before the specified date
    # @option opts [String] :after Unix timestamp in milliseconds. Returns only transactions created after the specified date
    # @option opts [String] :status Comma-separated list of statuses. Returns only transactions with one of the specified statuses
    # @option opts [String] :order_by The field to order the results by
    # @option opts [Integer] :limit Limits the number of results. If not provided, a limit of 200 will be used. The maximum allowed limit is 500
    # @option opts [String] :source_type The source type of the transaction
    # @option opts [String] :source_id The source ID of the transaction
    # @option opts [String] :dest_type The destination type of the transaction
    # @option opts [String] :dest_id The destination ID of the transaction
    # @option opts [String] :assets A list of assets to filter by, seperated by commas
    # @option opts [String] :tx_hash Returns only results with a specified txHash
    # @return [Array<(Array<TransactionResponse>, Integer, Hash)>] Array<TransactionResponse> data, response status code and response headers
    def transactions_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.transactions_get ...'
      end
      allowable_values = ["createdAt", "lastUpdated"]
      if @api_client.config.client_side_validation && opts[:'order_by'] && !allowable_values.include?(opts[:'order_by'])
        fail ArgumentError, "invalid value for \"order_by\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DefaultApi.transactions_get, must be greater than or equal to 1.'
      end

      allowable_values = ["VAULT_ACCOUNT", "EXCHANGE_ACCOUNT", "INTERNAL_WALLET", "EXTERNAL_WALLET", "FIAT_ACCOUNT", "NETWORK_CONNECTION", "COMPOUND", "UNKNOWN", "GAS_STATION", "OEC_PARTNER"]
      if @api_client.config.client_side_validation && opts[:'source_type'] && !allowable_values.include?(opts[:'source_type'])
        fail ArgumentError, "invalid value for \"source_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["VAULT_ACCOUNT", "EXCHANGE_ACCOUNT", "INTERNAL_WALLET", "EXTERNAL_WALLET", "FIAT_ACCOUNT", "NETWORK_CONNECTION", "COMPOUND", "ONE_TIME_ADDRESS", "OEC_PARTNER"]
      if @api_client.config.client_side_validation && opts[:'dest_type'] && !allowable_values.include?(opts[:'dest_type'])
        fail ArgumentError, "invalid value for \"dest_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/transactions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'orderBy'] = opts[:'order_by'] if !opts[:'order_by'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'sourceType'] = opts[:'source_type'] if !opts[:'source_type'].nil?
      query_params[:'sourceId'] = opts[:'source_id'] if !opts[:'source_id'].nil?
      query_params[:'destType'] = opts[:'dest_type'] if !opts[:'dest_type'].nil?
      query_params[:'destId'] = opts[:'dest_id'] if !opts[:'dest_id'].nil?
      query_params[:'assets'] = opts[:'assets'] if !opts[:'assets'].nil?
      query_params[:'txHash'] = opts[:'tx_hash'] if !opts[:'tx_hash'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*', 'application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TransactionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'bearerTokenAuth']

      new_options = opts.merge(
        :operation => :"DefaultApi.transactions_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
[...]
